@model dynamic

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family: Arial, sans-serif; background-color: #e0e0e0; padding: 20px;">
    <tr>
        <td align="center">
            <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; border-radius: 10px; overflow: hidden; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
                <tr>
                    <td style="background-color: #2c3e50; padding: 20px; color: #ffffff; text-align: center; font-size: 24px; font-weight: bold;">
                        Confirmation from SummitStories.blog
                    </td>
                </tr>
                <tr>
                    <td style="padding: 30px 30px 20px 30px; color: #2c3e50;">
                        <h2 style="font-size: 22px; font-weight: normal; color: #2c3e50;">Hello @Model.Name,</h2>
                        <p style="font-size: 16px; line-height: 1.5; color: #2c3e50;">
                            Thank you for reaching out to me! I have received your message and will review it as soon as possible. Your interest in SummitStories and your passion for mountain adventures are greatly appreciated!
                        </p>
                        <p style="font-size: 16px; line-height: 1.5; color: #2c3e50;">
                            Best Regards,<br>
                            <strong>Rafal</strong><br>
                            SummitStories Team
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #bdc3c7; padding: 20px; color: #2c3e50; text-align: center; font-size: 14px;">
                        Follow me on:
                        <a href="https://www.strava.com/athletes/2627373" style="color: #27ae60; text-decoration: none;">Strava</a> |
                        <a href="https://facebook.com/rafaladamczyk/" style="color: #27ae60; text-decoration: none;">Facebook</a> |
                        <a href="https://www.linkedin.com/in/rafal-adamczyk/" style="color: #27ae60; text-decoration: none;">LinkedIn</a> |
                        <a href="https://summitstories.blog" style="color: #27ae60; text-decoration: none;">Blog</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
