@model dynamic

@{
    Layout = "./_Layout.cshtml";
}

@section body {
    <tr>
        <td style="border-top: 2px solid #C4C4C4; padding:30px 30px 55px 30px;">
            <p style="color: #767676;">
                Hello Administrator <br> <br>
                The user @Model.Name<br> <br>
            </p>

            <ul style="color: #767676;">
                @foreach (var role in Model.Roles)
                {
                    <li>@role</li>
                }
            </ul>

            <p style="color: #767676;">
                Please assign him the appropriate role
                <br><br><br>
                Best Regards, <br>
                SummitStories Team
            </p>

        </td>
    </tr>
}
